
  infra-modules-@NAME@-fmt:
    needs: [detect, headers]
    if: contains(fromJson(needs.detect.outputs.changed).changed, 'infra-modules-@NAME@')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v7
        with:
          fetch-depth: 0
      - uses: ./.github/actions/infra-module-check
        with: { module: @NAME@, check: fmt }

  infra-modules-@NAME@-test:
    needs: [infra-modules-@NAME@-fmt]
    if: '!failure() && !cancelled() && needs.infra-modules-@NAME@-fmt.result == ''success'''
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v7
        with:
          fetch-depth: 0
      - uses: ./.github/actions/infra-module-check
        with: { module: @NAME@, check: test }

  infra-modules-@NAME@-checkov:
    needs: [infra-modules-@NAME@-fmt]
    if: '!failure() && !cancelled() && needs.infra-modules-@NAME@-fmt.result == ''success'''
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v7
        with:
          fetch-depth: 0
      - uses: ./.github/actions/infra-module-check
        with: { module: @NAME@, check: checkov }

  infra-modules-@NAME@-docs:
    needs: [infra-modules-@NAME@-fmt]
    if: '!failure() && !cancelled() && needs.infra-modules-@NAME@-fmt.result == ''success'''
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v7
        with:
          fetch-depth: 0
      - uses: ./.github/actions/infra-module-check
        with: { module: @NAME@, check: docs }
